<body>
<div id = "wrapper">
  <div id="main">
    <div class="inner">
      <br/>
      <br/>
      <br/>
      <form action="create" method="post" accept-charset="utf-8" class="form" role="form">   <h2>My Profile</h2>
        <section>
          <div class="row uniform">
            <div class="field">
              <input type="text" name="user_firstname" value="" class="form-control input-lg" placeholder="First Name"  />
            </div>
            <div class="field">
              <input type="text" name="user_lastname" value="" class="form-control input-lg" placeholder="Last Name"  />
            </div>
            <div class="field">
              <b>Email:  </b><%= session[:user_emailid] %>
            </div>
            <div class="field">
              <select name="service_roles_id" class = "form-control input-lg">
                <option value=0 disabled selected>Select User </option>
                <option value=1>User </option>
                <option value=2>Vendor</option>
              </select>
            </div>
            <div class="field">
              <input type="text" name="user_phone" value="" class="form-control input-lg" placeholder="Contact Number"  />
            </div>
            <div class="field">
              <input type="text" name="addressline1" value="" class="form-control input-lg" placeholder="Address Line 1"  />
            </div>
            <div class="field">
              <input type="text" name="addressline2" value="" class="form-control input-lg" placeholder="Address Line 2"  />
            </div>
            <div class="field">
              <input type="text" name="zip" value="" class="form-control input-lg" placeholder="Zip"  />
            </div>
            <div class="field">
              <input type="text" name="city" value="" class="form-control input-lg" placeholder="City"  />
            </div>
            <div class="field">
              <input type="text" name="country" value="" class="form-control input-lg" placeholder="Country"  />
            </div>
            <br />
            <div class="actions">
              <button type="submit">UDPATE</button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
</body>