<h1> Are you sure you want to request vendor Account</h1>

<%=@message%>

<form action="/myprofile/createVendorAccount" method="get" accept-charset="utf-8" class="form" role="form">
  <button type="submit">Edit</button>
 </form>