<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>This is ServicesNearBy, a place where you<br />
        can find services near you.<a href="http://html5up.net">....</a>.</h1>
    </header>
    <section class="tiles">
      <% @counter = 1 %>
      <% @categories.each do |category| %>
          <article class="style<% @counter %>">
									<span class="image">
										<%= image_tag("pic0"+@counter.to_s+".jpg", :alt => "logo") %>
									</span>
            <a>
              <h2><%= category.service_name %></h2>
              <div class="content">
                <p><%= category.service_information %></p>
              </div>
            </a>
          </article>
          <% @counter = @counter + 1 %>
          <% if @counter == 10 %>
              <% @counter = 1 %>
          <% end %>
      <%end%>
    </section>
  </div>
</div>

